@import url("style.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:900");

/* =Theme customization starts here
-------------------------------------------------------------- */

.open-sans {
	font-family: 'Open Sans',Helvetica,sans-serif;
}

button.green {
	background-color: #27ae60;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 19px;
	letter-spacing: 1.5px;
	font-weight: 600;
	font-family: Raleway,'Open Sans',sans-serif,helvetica;
	text-transform: uppercase;
	padding: 15px 25px;
}
button.green:hover {
	background-color: #29c76b;
}

button.green.small {
	padding: 4px 30px;
	border-radius: 3px;
	font-size: 18px;
}

.bg-img.no-fixed {
	background-attachment: inherit;
}

.back-top {
	background: #3686be;
	background: rgba(54,134,190,0.8);
}
.back-top:hover {
	background: #3686be;
}

.has-splash .pagebuilder-content {
	padding: 0 0 0;
}

.section-content-wrap {
	margin-bottom: 0px;
}

/* nav / logo */
.tb-logo h1 a {
	font-size: 14px;
}
.tb-logo img {
	margin: 14px 6px 0 0;
}
.top-bar .menu ul li a {
	color: white;
	font-size: 14px;
}
.tb-small.tb-transp {
	background: #000;
	background: rgba(0,0,0, .7000);
}
.top-bar {
	background: transparent;
}
.top-bar.tb-small {
	background: #000;
	background: rgba(0, 0, 0, .7000);
}

/* pricing tables */

#pricing-table {
	margin-top: 36px;
	margin-bottom: 50px;
	display: inline-block;
}

.pricing-table ul{
    margin: 3px;
    width: 200px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;;
    list-style: none;
    float: left;
    padding: 5px;
    background-color: #FFFFFF;
}
.pricing-table ul li{
    padding: 5px;
    background-color: #EFEFEF;
    border-width: 2px;
    border-color: #B83737;
    border-radius: 0px;
    border-bottom-width: 2px;
    font-size: 14px;
}
.pricing-table li:nth-child(odd){
    background-color: #F7F7F7;
}
.pricing-table ul .heading{
    color: #FFFFFF;
    background-color: #3686BE;
    font-size: 16px;
}
.pricing-table ul .price{
    color: #333333;
    font-size: 30px;
    padding: 20px 5px;
}
.pricing-table ul .price small {
	font-size: 35%;
	color: #333;
	font-weight: 200;
}
.pricing-table ul .action{
    font-size: 18px;
    color: #2A6496;
    padding: 15px 5px;
}
.feature{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.pricing-table .action a{
    border-style: dotted;
    color: #000000;
}

/* headline text / section */

.header-inner {
	max-width: 865px;
	top: 56%;
}

.bigtext h2, h2.bigtext {
	font-size: 62px;
	letter-spacing: 1px;
}

.header-inner .bigtext h6,
.header-inner h6.bigtext {
	font-size: 24px;
	line-height: 1.25em;
	max-width: 745px;
	margin: 0 auto;
	letter-spacing: .7px;
	margin-top: 20px;
}

.header-scroll .back-top {
	top: -140px;
}

/* intro section */

.eight.center {
	/*margin-left: 9.6667%;*/
}

#section-intro .row .eight {
	width: 79.6666%;
}

#section-intro h2 {
	font-size: 36px;
}

#section-intro span.serif {
	font-size: 32px;
}

.open-sans.intro-text {
	font-weight: 200;
	font-size: 18px;
	text-transform: none;
	color: #555;
}

.intro-cta-text {
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 400;
	color: #333;
	margin: 35px 0;
}

.service-title {
	font-size: 12px;
	font-weight: 700;
	color: #949494;
	max-width: 75%;
	margin: 0 auto;
	margin-top: -10px;
	line-height: 1.5;
}

.service-title:before {
	content: "\A";
	white-space: pre;
}

div.services-list {
	position: relative;
}
.services-list a.next {
	right: -15px;
}
.services-list a.prev {
	left: -15px;
}
.intro-text a {
	color: #27ae60;
	font-weight: 400;
}
.intro-text a:hover {
	color: #29c76b;
}

/* testimonials section */

#section-testimonials,
#section-recent-tweets {
	color: white;
	font-size: 20px;
	font-weight: 200;
}
.testimonial-content,
.tweet-content {
	max-width: 750px;
	margin: 0 auto;
}
.testimonial-content .author {
	padding: 8px 15px;
	border: 2px solid white;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
}
#section-testimonials .owl-theme .owl-controls .owl-page.active span,
#section-testimonials .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #fff;
}
#section-testimonials .owl-theme .owl-controls .owl-page span {
	background: #fff;
}


/* featured project */

#section-featured-project .row .eight {
	width: 94.6666%;
}
#section-featured-project .eight.center {
	margin-left: 2.6667%;
	padding: 0;
}
#section-featured-project .section-content-wrap > .row {
	margin: 0 auto;
}
#section-featured-project .clients {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}
.custom-slider-nav {
	height: 0px;
}
a.prev {
	position: absolute;
	left: 20px;
	top: 42px;
	cursor: pointer;
}
a.next {
	position: absolute;
	right: 20px;
	top: 42px;
	cursor: pointer;
}
#clients-slider {
	max-width: 90%;
	margin: 0 auto;
	padding: 5px 0;
}
.clients-header {
	margin-top:100px;
	color:#949494;
	font-size:18px;
}
.overlay {
	position: absolute;
	width: 83.6%;
	top: 0px;
	height: 64%;
	margin: 4.6% 4.1% 3.6% 4%;
}
.overlay .launch {
	display: none;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	top: 30%;
	width: 100px;
	height: 100px;
	font-size: 50px;
	padding-left: 6px;
	color: #333;
	border-radius: 100px;
	line-height: 100px;
}
.overlay .launch:hover {
	background: rgba(255,255,255, 1.0);
}
ul.services-used {
	text-align: center;
	margin-top: 40px;
}
ul.services-used li {
	display: inline;
	padding: 5px;
}
ul.services-used li img {
	opacity: .8;
}


/* latest tweet section */
.tweet-content .latest-tweets {
	margin-top: 20px;
}
.tweet-content .tweet-details {
	font-size: 65%;
	margin-bottom: 0;
}

/* our team */

#section-ourteam.bg-image-cover {
	background-position: inherit;
	background-repeat: repeat;
	background-size: inherit;
}
#section-ourteam .row .eight {
	width: 83.3333%;
	padding: 0;
}
#section-ourteam .eight.center {
	margin-left: 8.6667%;
}
#section-ourteam .eight.center .row {
	width: 100%;
	margin: 0;
}
#section-ourteam .eight.center .row .col {
	padding: 0;
	height: 238px;
}
#section-ourteam .eight.center .row .col.info {
	background: #fff;
	font-size: 14px;
	font-weight: 200;
	font-family: 'Open Sans',sans-serif,Helvetica;
	color: #aaa;
	padding: 96px 20px;
}
#section-ourteam .eight.center .row .col .col {
	max-width: 50%;
}
#section-ourteam .eight.center .row .col.info.three-lines {
	padding: 82px 20px;
}
#section-ourteam .team-headline {
	color: white;
	font-size: 29px;
	line-height: 238px;
}
#section-ourteam .team-headline .serif {
	font-size: 27px;
}
h3.team-member {
	font-size: 18px;
	color: #333;
}

#section-ourteam .box-one {
	background: url('images/team-header-bg.jpg') no-repeat;
	background-size: cover;
}
#section-ourteam .box-two {
	background: url('images/james.jpg') no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#section-ourteam .box-three {
	background: url('images/ryan.jpg') no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#section-ourteam .box-four {
	background: url('images/kaya.jpg') no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


.pointer {
	position: absolute;
	display: block;
	z-index: 10;
	top: 50%;
	width: 15px;
	height: 25px;
	margin-top: -20px;
	margin-left: -17px;
	left: 50%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 15%;
}
.pointer:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	width: 24px;
	height: 24px;
	background: #FAFAFA;
	position: absolute;
	z-index: -1;
	background: white;
}

.col.tablet {
	display: none;
}

/* contact section */

#section-contact input#submit:hover {
	background-color: #27ae60;
	border-color: #27ae60;
}
.c-details span {
	margin-bottom: 15px;
}

/* footer */

p.certifications {
	margin-top: 25px;
}

.footer a:hover {
	color: white;
}

/* inner pages */

blockquote p {
	margin-bottom: 0;
}
div.page-body.pe-wp-default {
	padding: 0 80px;
}
.page-contact.form {
	margin-top: 75px;
	display: inline-block;
}

#wind-powered-web-hosting-splash .header-inner {
	top: 50%;
}

#video-production-splash .header-inner {
	top: 54%;
}
#video-production-splash + .back-top-wrap a {
	display: none;
}

.page-id-206 .header-scroll .back-top {
	top: -275px;
	background: #27ae60;
	background-color: rgba(39, 174, 96, .9000);
}
.page-id-206 .header-scroll .back-top:hover {
	background-color: rgba(39, 174, 96, 1);
}
.page-id-206 .title hr {
	margin-bottom: 50px;
}
.page-id-206 .submit.btn.outline.green:hover {
	background: #27ae60;
	border-color: #27ae60;
}

/* video page */

.vinfo {
	border-radius: 15px;
	border: 10px solid white;
	max-height: 330px;
}

.vinfo.gold {
	background: #dfca2c;
}

.vinfo.rust {
	background: #d6761e;
}

.vinfo.lime {
	background: #95c626;
}

.vinfo h1 {
	color: rgba(255, 255, 255, .5);
	text-align: right;
	position: relative;
	top: -95px;
	right: -10px;
	font-weight: 400;
	letter-spacing: .01em;
}

.vinfo .fa-check-square-o {
	color: white;
	font-size: 65px;
	position: relative;
	top: 14px;
}

.vinfo p {
	position: relative;
	top: -85px;
	padding: 0px 14px;
	color: #333;
	font-size: 17px;
	text-align: center;
}

h2.vinfo-title {
	text-align: center;
	color: #1e8ece;
	text-transform: inherit;
	font-weight: 400;
	font-size: 40px;
	letter-spacing: 1px;
}

p.vinfo-info {
	text-align: center;
	max-width: 805px;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
}

.page-id-272 .title {
	display: none;
}

.page-id-272 hr {
	border: 1px solid rgb(238, 238, 238);
	margin: 20px 0;
}

.col.video {
	padding: 20px;
	text-align: center;
}

/* MEDIA QUIRES */

@media only screen and (max-width: 965px) {

	/* team */
	h3.team-member {
		font-size: 15px;
	}
	#section-ourteam .eight.center .row .col.info {
		font-size: 13px;
		padding: 77px 20px;
	}
	#section-ourteam .eight.center .row .col {
		height: 200px;
	}
	#section-ourteam .team-headline {
		font-size: 25px;
		line-height: 200px;
	}
}

@media only screen and (max-width: 830px) {
	h2.bigtext {
		font-size: 52px;
	}
	.header-inner h6.bigtext {
		font-size: 22px;
	}
	#section-intro .eight.col.center.text-center.new-width {
		padding: 0;
		width: 80.6666%;
		margin-left: 9.6667%;
	}

	/* team */
	h3.team-member {
		font-size: 13px;
	}
	#section-ourteam .eight.center .row .col.info {
		font-size: 12px;
	}
}

/* tablet portrait */
@media only screen and (max-width: 768px) {
	.header-inner {
		top: 42%;
	}

	/* team */
	#section-ourteam .eight.center .row .col {
		height: 305px;
	}
	h3.team-member {
		font-size: 18px;
	}
	#section-ourteam .eight.center .row .col.info {
		font-size: 15px;
		padding: 128px 20px;
	}
	#section-ourteam .eight.center .row .col.info.three-lines {
		padding: 128px 20px;
	}
	#section-ourteam .team-headline {
		font-size: 32px;
		line-height: 305px;
	}
	.col.desktop {
		display: none;
	}
	.col.tablet {
		display: inline-block;
	}

	/*featured project*/
	#section-featured-project .six.col + .six.col h2 {
		margin-top: 60px;
		text-align: center;
	}
	#section-featured-project .six.col + .six.col h2 + p {
		text-align: center;
	}
	.overlay .launch {
		top: 40%;
		left: 5%;
	}

	/* inner pages */
	div.page-body.pe-wp-default {
		padding: 0 35px;
	}
}

/* iphone 5 landscape */
@media only screen and (max-width: 568px) {

	/* team */
	#section-ourteam .eight.center .row .col {
		height: 238px;
	}
	#section-ourteam .team-headline {
		line-height: 238px;
	}
	#section-ourteam .eight.center .row .col.info {
		padding: 95px 20px;
	}
	#section-ourteam .eight.center .row .col.info.three-lines {
		padding: 82px 20px;
	}

	/* pricing tables */
	.pricing-table ul {
		width: 170px;
	}
}

@media only screen and (max-width: 480px) {
	h2.bigtext {
		font-size: 50px;
	}
	.header-inner h6.bigtext {
		font-size: 19px;
	}
	#section-intro h2 {
		font-size: 32px;
	}
	#section-intro span.serif {
		font-size: 28px;
	}
	.open-sans.intro-text {
		font-size: 17px;
	}

	/* team */
	#section-ourteam .eight.center .row .col {
		height: 200px;
	}
	#section-ourteam .team-headline {
		line-height: 200px;
	}
	h3.team-member {
		font-size: 16px;
	}
	#section-ourteam .eight.center .row .col.info {
		font-size: 14px;
		padding: 76px 20px;
	}
	#section-ourteam .team-headline {
		font-size: 25px;
	}
	#section-ourteam .team-headline .serif {
		font-size: 25px;
	}

	/* pricing table */
	#pricing-table {
		margin-left: 18%;
	}
	.pricing-table ul {
		width: 210px;
	}
}

@media only screen and (max-width: 320px) {

	/* splash */
	h2.bigtext {
	    font-size: 40px;
	}
	.header-inner h6.bigtext {
	    font-size: 18px;
	}

	/* intro */
	#section-intro h2 {
	    font-size: 25px;
	}
	#section-intro span.serif {
	    font-size: 22px;
	}
	.open-sans.intro-text {
	    font-size: 16px;
	}
	.intro-cta-text {
	    font-size: 20px;
    }

    /* tweets and testimonials */
    #section-testimonials, #section-recent-tweets {
	    font-size: 18px;
    }

    /* featured project */
    #section-featured-project h2 {
	    font-size: 20px;
    }
    #section-featured-project h2.clients-header {
	    font-size: 16px;
    }

    /* team */
    #section-ourteam .team-headline {
	    line-height: inherit;
		padding: 44px 0;
	}
	#section-ourteam .eight.center .row .col {
	    height: 140px;
	}
	#section-ourteam .eight.center .row .col.info {
	    font-size: 12px;
	    padding: 33px 10px;
	}
	#section-ourteam .eight.center .row .col.info.three-lines {
	    padding: 35px 10px;
	}
	h3.team-member {
	    font-size: 12px;
	}
}


/* retina backgrounds */
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

    #section-ourteam .box-one {
		background: url('images/team-header-bg@2x.jpg') no-repeat;
		background-size: cover;
	}
	#section-ourteam .box-two {
		background: url('images/james@2x.jpg') no-repeat;
		background-size: cover;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	#section-ourteam .box-three {
		background: url('images/ryan@2x.jpg') no-repeat;
		background-size: cover;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	#section-ourteam .box-four {
		background: url('images/kaya@2x.jpg') no-repeat;
		background-size: cover;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

}


/* NDP Landing Page */
#NDP #ndp-splash {
	background: orange;
	color: white;
	padding: 140px 0 55px;
}

#ndp-splash img {
  margin-top: 20px;
}

#NDP button.green {
	background-color: #93c424;
  border-bottom: 4px solid #78a01e;
  font-size: 16px;
}

#NDP #ndp-splash #splash-text {
	text-align: left;
}

#NDP #ndp-splash #splash-text h1 {
  font-size: 100px;
  text-transform: none;
  color: white;
  line-height: 103px;
  font-weight: 500;
  letter-spacing: normal;
}

#NDP #ndp-splash #splash-text h1 span {
	font-weight: 900;
}

#NDP #ndp-splash #splash-text p {
  font-size: 31px;
  text-transform: none;
  font-weight: 600;
  letter-spacing: normal;
  line-height: normal;
  padding-left: 3px;
}

#NDP #ndp-splash h2 {
  margin-bottom: 0;
  margin-top: 60px;
  color: white;
  text-transform: none;
  font-weight: 500;
  letter-spacing: normal;
  font-size: 27px;
}

#NDP .header-scroll .back-top {
  bottom: -30px;
  top: inherit;
  background-color: #93c424;
  font-size: 23px;
}

@media(max-width:1055px) {
	#NDP #ndp-splash #splash-text h1 {
	  font-size: 85px;
	  line-height: 90px;
	}
	#NDP #ndp-splash #splash-text p {
		font-size: 25px;
	}
	#NDP button.green {
		font-size: 12px;
	}
	#NDP img {
		max-width: 100%;
	}
}

@media(max-width:768px) {
	#NDP #ndp-splash {
	  padding: 85px 0 55px;
	}
	#NDP #ndp-splash #splash-text {
	  text-align: center;
	}
	#NDP #ndp-splash h2 {
		font-size: 23px;
	}
}


/* Offsets landing page */
#offsets {

}

#offsets #off-header .header-scroll {
	display: none;
}

#offsets .header-inner {
  max-width: 58%;
  top: 58%;
}

#offsets #how {
	padding: 90px 80px;
	position: relative;
}

#offsets #how .text {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}

#offsets #how #poly {
	position: absolute;
  width: 100%;
  left: 0;
  top: -50px;
  text-align: center;
}

#offsets #stats {
	background: url('images/mtn-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 48px;
  text-align: center;
  padding: 117px 80px;
}

#offsets #offsets-signup {
	margin-top: 75px;
	display: block;
}

#offsets #offsets-signup .wpcf7 {
	background-color: #f1f1f1;
	padding: 35px 28px;
	margin-bottom: 75px;
}

#offsets #offsets-signup .wpcf7 input {
	background: white;
	border: none;
	font-size: 12px;
	margin-bottom: 17px;
}

#offsets #offsets-signup .wpcf7 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #adadad;
    text-transform: uppercase;
}
#offsets #offsets-signup .wpcf7 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #adadad;
   opacity:  1;
   text-transform: uppercase;
}
#offsets #offsets-signup .wpcf7 ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #adadad;
   opacity:  1;
   text-transform: uppercase;
}
#offsets #offsets-signup .wpcf7 :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #adadad;
   text-transform: uppercase;
}

#offsets #offsets-signup .wpcf7 .wpcf7-form-control-wrap {
	max-width: 49%;
	padding: 0 2%;
  display: inline-block;
}

#offsets #offsets-signup .wpcf7 .wpcf7-form-control-wrap.your-website {
	max-width: 99%;
	width: 100%;
	margin-bottom: 0;
}

#offsets #offsets-signup .wpcf7 input[type="submit"] {
	display: block;
  margin: 0 auto;
  background: #33b6cb;
  color: white;
  border-radius: 0;
  letter-spacing: normal;
  margin-top: 15px;
}

#offsets #off-header .btn.white {
	background: #33b6cb;
  color: white;
  border-radius: 0;
  letter-spacing: normal;
  margin-top: 15px;
}

#offsets #offsets-signup .wpcf7 p {
	margin: 0;
}

#offsets #offsets-signup .wpcf7 h3 {
	letter-spacing: normal;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 25px;
  color: #333;
}

#offsets #offsets-signup h1 {
	font-size: 24px;
  text-transform: none;
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}
